@model VIdly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Movie"))
{
    @Html.ValidationSummary(true, "Please fill required fields!")
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ReleaseDate)
        @Html.TextBoxFor(c => c.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.GenreId)
        @Html.DropDownListFor(c => c.GenreId, new SelectList(Model.Genres, "id", "Name"), "Select", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.NumberInStock)
        @Html.TextBoxFor(c => c.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.NumberInStock)
    </div>
    @Html.HiddenFor(m => m.id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")   
}